# Ignore pdf's
*.pdf

# Ignore random LaTex files
*.aux
*.log
*.dvi
*.out

# Ignore compressed files
*.tar.gz

# Ignore submission folders
*/steil016/

# Ignore written 1 unnecessary files
written1/code/dgt_compare

# Ignore project 1 unnecessary files
project1/fptminer
project1/large
project1/inter
project1/small
project1/tiny
project1/*.res
project1/*.mat


# Ignore solutions from gk
project1/gk_sol

